/* --- header --- */
header {
    background-color: var(--main-color);
    color: #fff;
}

header .image img {
    max-width: 150px;
    height: 150px;
    transition: var(--main-transition);
}

header:hover .image img {
    animation: img 1s linear;
}
@keyframes img {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

/* --- main --- */

/* -- contact -- */
.hero .me .contact ul li svg {
    color: var(--main-color);
}

/* -- language -- */
.hero .me .language li:nth-child(1) p span {
    animation: lng1 3s linear;
}
@keyframes lng1 {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

.hero .me .language li:nth-child(2) p span {
    animation: lng2 3s linear;
}
@keyframes lng2 {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}

.hero .me .language li:nth-child(3) p span {
    animation: lng3 3s linear;
}
@keyframes lng3 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

/* -- skills -- */
.hero .me .skills ul li p {
    width: 100px;
    height: 100px;
}

.hero .me .skills ul li p::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
}

.hero .me .skills ul li:nth-child(1) p span:last-child {
    animation: ski1 3s linear;
}
@keyframes ski1 {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}

.hero .me .skills ul li:nth-child(2) p span:last-child {
    animation: ski2 3s linear;
}
@keyframes ski2 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

.hero .me .skills ul li:nth-child(3) p span:last-child {
    animation: ski3 3s linear;
}
@keyframes ski3 {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}

.hero .me .skills ul li:nth-child(4) p span:last-child {
    animation: ski4 3s linear;
}
@keyframes ski4 {
    from {
        width: 0;
    }
    to {
        width: 20%;
    }
}

/* -- online info -- */
.hero .me .on-info ul li span:first-child {
    width: 30px;
    height: 30px;
}

.hero .me .on-info ul li:nth-child(1) span:first-child {
    background-color: var(--red-color);
}

.hero .me .on-info ul li:nth-child(2) span:first-child {
    background-color: var(--blue-color);
}

/* -- about -- */
.hero .about h3 {
    background-color: var(--main-color);
}

/* --- footer --- */
footer .container {
    min-height: 40px;
    background-image: linear-gradient(
        to right,
        var(--red-color) 33%,
        var(--main-color) 33% 66%,
        var(--blue-color) 66% 100%
    );
}
